.form {
  max-width: 568px;
  background: var(--color-lightest);
  padding: 45px;
  border-radius: 12px;
}

.submit {
  display: block;
  font: var(--font-weight-500) var(--font-size-smaller) / 1.38 var(--font-sans-2);
  text-align: center;
  margin-top: 30px;
  color: var(--color-stronger);
}

@media (max-width: 800px) {
  .form {
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    margin-top: 50px;
    padding: 35px 25px;
  }

  .submit {
    font: var(--font-weight-500) var(--font-size-tiny) / 1.38 var(--font-sans-2);
    margin-top: 30px;
  }
  
}
