.wrapper {
  margin-bottom: 25px;
}

.wrapper label {
  display: block;
  margin-bottom: 11px;
  max-width: max-content;
  font: var(--font-weight-600) var(--font-size-smallest) / 1 var(--font-sans);
}

.input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 2px solid var(--color-dark);
  padding-left: 12px;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: var(--color-soft);
  background: var(--color-lightest);
  box-shadow: 0 0 0 2px #c4c4c4;
}

.input,
.input::placeholder {
  font: var(--font-weight-500) var(--font-size-tiny) / 1.38 var(--font-sans-2);
}

.error{
  display: inline-block;
  font: var(--font-weight-500) var(--font-size-tiny) / 1.38 var(--font-sans-2);
  color: red;
  margin-top: 12px;
  display: none;
}

input:invalid[focused="true"] ~ .error{
  display: inline-block;
}