.carouselContainer {
  background-color: var(--color-secondaryLight);
  padding: 56px 25px;
}

.carouselTexts {
  text-align: center;
}

.carouselTitle {
  font: var(--font-weight-600) var(--font-size-larger) / 1 var(--font-sans);
  color: var(--color-darker);
  margin-bottom: 6px;
}

.carouselSubtitle {
  font: var(--font-weight-600) var(--font-size-small) / 1.25 var(--font-sans);
}

.carouselClients {
  position: relative;
  margin-inline: auto;
  max-width: 880px;
  margin-top: 30px;
}

.arrowButton {
  position: absolute;
  background: none;
  border: none;
}

.prevButton {
  top: 44.7%;
  left: -7%;
  cursor: pointer;
}

.nextButton {
  top: 44.7%;
  right: -7%;
  cursor: pointer;
}

.buttonBar {
  margin-inline: auto;
  max-width: max-content;
  margin-top: 28px;
}

.buttonBar li {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  border-radius: 50%;
}

.buttonBar li button {
  border: none;
  background: rgba(116, 39, 148, 0.4);
  color: transparent;
  cursor: pointer;
}

:global(li.slick-active button) {
  background: var(--color-dark);
}

@media (max-width: 1024px) {
  .carouselClients {
    max-width: 430px;
  }

  .prevButton {
    left: -10%;
  }

  .nextButton {
    right: -10%;
  }
}

@media (max-width: 800px) {
  .carouselTitle {
    font: var(--font-weight-700) var(--font-size-large) / 1.2 var(--font-sans);
  }

  .carouselSubtitle {
    font: var(--font-weight-500) var(--font-size-smallest) / 1.25
      var(--font-sans);
    margin-bottom: 0px;
  }
}

@media (max-width: 550px) {
  .carouselContainer {
    padding: 30px 25px;
  }

  .carouselClients {
    max-width: 300px;
  }

  .arrowButton {
    display: none;
  }

  .buttonBar {
    margin-top: 28px;
  }

  .buttonBar li {
    height: 1px;
    width: 1px;
  }

  .buttonBar li button {
    height: 1px;
    width: 1px;
    border-radius: 50%;
  }
}
