* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 3000vh;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: currentColor;
}
